.MailTemplate {
  padding: 32px 16px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;

  &-container {
    // background-color: red;
  }

  h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin: 0 0 10px;
    color: var(--text-header);
  }

  &-header {
    &-content {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &-language {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    img {
      width: 22px;
    }

    p {
      margin: 0;
      color: var(--text-header);
    }

    &.active {
      p {
        text-decoration: underline;
      }
    }
  }

  &-form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 16px;

    > div {
      flex: 0 0 calc(50% - 10px);

      &.editor {
        flex: 0 0 calc(100% - 6px);
        border: 1px solid var(--border-primary-color);
        border-radius: 8px;
      }

      &.buttons {
        flex: 0 0 calc(100% - 6px);
        display: flex;
        justify-content: flex-end;
        gap: 24px;

        .Button {
          border: 0 none;
          min-height: 32px;
          color: var(--text-color);
          border-radius: 8px;
          font-size: 14px;

          &.cancel {
            background-color: rgba(247, 247, 247, 1);

            &:hover,
            &:active {
              background-color: rgba(223, 223, 223, 1);
            }
          }

          &.submit {
            background-color: rgba(185, 231, 197, 1);

            &:hover,
            &:active {
              background-color: rgba(162, 210, 175, 1);
            }
          }
        }
      }

      .InputText {
        background-color: #fff;
        border: 0.33px solid var(--border-input-color);

        .InputText {
          border: 0 none;
        }
      }

      .InputDropdown {
        &-select {
          &-option {
            background-color: #fff;
            border: 0.33px solid var(--border-input-color);
          }

          &-list {
            border-width: 0.33px;
            border-color: var(--border-input-color);
          }

          &-list-option {
            background-color: #fff;
            border-width: 0.33px;
            border-color: var(--border-input-color);

            &.selected,
            &:hover {
              background-color: var(--hover-color);
            }
          }
        }
      }
    }

    &-two {
      background-color: #fff;
      border: 0.33px solid var(--border-input-color);
      border-radius: 8px;

      display: flex;
      align-items: center;
      gap: 16px;

      > div {
        display: flex;
        align-items: center;
        gap: 12px;

        &:first-of-type {
          padding-left: 16px;
        }

        p {
          margin: 0;
        }
      }
    }
  }

  &-preview {
    display: flex;
    flex-direction: column;
    max-width: 500px;

    h4 {
      margin: 0 0 12px;
    }

    &-container {
      flex: 1;
      min-height: 424;
      gap: 10px;
      padding: 10px;
      border-radius: 12px;
      background-color: #fff;

      img,
      video {
        max-width: 100% !important;
      }
    }
  }
}
