.MailTemplate {
  padding: 32px 16px;
  display: flex;
  gap: 16px;

  &-container {
    flex: 1;
    max-width: 60vw;
    word-wrap: break-word;
  }

  h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin: 0 0 10px;
    color: var(--text-header);
  }

  &-header {
    &-content {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &-language {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    img {
      width: 22px;
    }

    p {
      margin: 0;
      color: var(--text-header);
    }

    &.active {
      p {
        text-decoration: underline;
      }
    }
  }

  &-form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 16px;

    > div {
      flex: 0 0 calc(50% - 10px);

      &.editor {
        flex: 0 0 calc(100% - 6px);
        border: 1px solid var(--border-primary-color);
        border-radius: 8px;
        max-width: 100%;

        .RichTextEditor {
          &-container {
            background-color: var(--background-color-light);
          }

          &-button,
          &-dropdownButton,
          &-colorButton {
            background-color: var(--background-color-light);

            &:hover {
              background-color: var(--background-color);
            }
          }
        }
      }

      &.buttons {
        flex: 0 0 calc(100% - 6px);
        display: flex;
        justify-content: flex-end;
        gap: 24px;
      }
    }

    &-two {
      display: flex;
      align-items: center;
      gap: 16px;

      > div {
        display: flex;
        align-items: center;
        gap: 12px;

        &:first-of-type {
          padding-left: 16px;
        }

        p {
          margin: 0;
        }
      }
    }
  }

  &-preview {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: calc(40vw - 160px);
    max-height: calc(100svh - 100px);
    top: 12px;
    position: sticky;
    overflow-y: hidden;

    h4 {
      margin: 0 0 12px;
    }

    &-container {
      flex: 1;
      min-height: 424px;
      gap: 8px;
      padding: 10px;
      border-radius: 12px;
      background-color: var(--background-color);
      word-wrap: break-word;
      border: 1px solid var(--border-primary-color);
      overflow-y: auto;

      div {
        > pre {
          overflow-y: auto;
          background-color: #1f2937;
          color: #f3f4f6;
          padding: 16px;
          border-radius: 6px;
          line-height: 1.5em;
        }

        > code {
          background-color: #eaeaea;
          padding: 0 4px;
          border-radius: 4px;
        }

        > blockquote {
          border-left: 4px solid #d1d5db;
          padding-left: 16px;
          margin: 10px 0;
          color: #6b7280;
          font-style: italic;
        }
      }

      img,
      video {
        max-width: 100% !important;
      }
    }
  }
}
